
.slick-dots {
    @apply mt-4; 
  }
  
 
  .slick-dot {
    @apply w-6 h-6 mx-2 rounded-full; 
  }
  

  .slick-dots li.slick-active button:before {
    opacity: .75;
    color: rgb(166, 157, 157);
  }
  .slick-dots li button:before {
    font-size: 30px;
    color: aliceblue;
    opacity: 1;
  }
  .slick-prev:before, .slick-next:before {
    font-size: 40px;
  }