body{
   
background: radial-gradient(312.05% 64.28% at 94.13% 4.2%, rgba(71, 244, 255, 0.20) 0%, rgba(10, 226, 226, 0.02) 96.81%), #031820;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0;
}
.droneZone{
    /* width: 275px; */
    height: 58px; 
  /* flex-shrink: 0; */
    color: #FFF;
    font-family: Lato;
    font-style: normal;
    line-height: normal;
}

.content1{
    /* width: 431px; */
    /* height: 38px; */
    flex-shrink: 0;
    color: #FFF;
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.content2{
    /* width: 740px; */
    /* height: 106px; */
    flex-shrink: 0;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.imagedrone{
    @media(min-width: 1024px){
        transform: rotate(8.549deg);
    }
    /* flex-shrink: 0; */
    /* background: url('../images/drone.png'),  100% / cover no-repeat; */
}
.content3{
    color: #FFF;
    font-family: Lato;
    font-style: normal;
    line-height: normal;
}

.card1{
    width: 329px;
    height: 308px;  
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(198, 198, 198, 0.15);
}
.ballsvg{
    width: 100px;
height: 100px;
flex-shrink: 0;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #E94F4F;
filter: drop-shadow(2px 2px 4px #930000);
border-radius: 50%;
}

.number{
    color: #FFF;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.content4{
    color: #FFF;
    font-family: Lato;
    font-style: normal;
    line-height: normal;
}
/* .drone2{
    
    flex-shrink: 0;
    /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; 
} */

.content5{
    color: #FFF;
    font-family: Lato;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* 
.accordion{
    @media (max-width: 440px) { 
        margin-left: 50px;
     }
} */


@media (max-width:1024px ){
    .droneZone,.content1,.content2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}