.navbar{
    height: 50px;
    align-items: center;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
.logoD{
    color: #FFF;
    font-family: Calistoga;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.logoZ{
    color: #E94F4F;
    font-family: Calistoga;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.prevent-select {
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
  }
/* .callnow{
    @media (min-width: 755px) {
    margin-bottom: 0px;
} 
}*/