.navbar{
    height: 50px;
    align-items: center;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
.logoD{
    color: #FFF;
    font-family: Calistoga;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.logoZ{
    color: #E94F4F;
    font-family: Calistoga;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.prevent-select {
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
  }
/* .callnow{
    @media (min-width: 755px) {
    margin-bottom: 0px;
} 
}*/



.dropdown_menu{
    display: none;
    position: absolute;
    right: 0;
    top:60px;
    width: 200px;
    height: 100vh;
    background:rgba(255, 255, 255, 0.1) ;
    backdrop-filter: blur(50px);
    border-radius: 10px;
    overflow: hidden;
    
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.close{
    height: 0;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action_btn:active{
    scale: .95;
}

 
@media(max-width: 1024px){
    .links{
        display: none;
    }
    .call-now{
        display: none;
    }
    .navbar.toggle-button{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}

@media(min-width: 1024px){
    .navbar{
        position: fixed;
    }
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: aliceblue; */

}

@media(max-width: 576px){
    .dropdown_menu{
        /* left:2rem; */
        width: 100px;
        /* height: 300px; */
    }
}